@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@theme {
    /* Custom Font Family */
    --font-mullish: "Mulish", sans-serif;
  
    /* Custom Colors */
    --color-deepBlue: #02042a;
    --color-lightBlue: #2b84ea;
    --color-lightBlue300: #4b94ed;
    --color-lightBlue500: #0b72e7;
    --color-greenLight: #61cea6;
    --color-grayText: #818597;
    --color-lightGray: #e2e2e2;
    --color-grayBlue: #344a6c;
    --color-deepBlueHead: #162f56;
    --color-gray2: #525a76;
  }